.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: $color--background--section--secundary;
  box-shadow: $color--shadow--section 0px 3px 8px;
  border-color: white;
  border-radius: 5px;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  
  //cursor: pointer;
  &:hover{
    box-shadow: 0px 0px 10px $color--shadow--section;
  }

  &--title{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    color: $color--text;
	  background-repeat: no-repeat;
    border-bottom: 1px solid #000;
    background-color: $color--primary;
    //cursor: pointer;
  }
  &--content{
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    color: $color--text;
    
  }

}