.css-1s2u09g-control{
    min-height: 50px!important;
    border-radius: 0px!important;
    font-size: 18px;
    
    border-bottom: 2px solid #11101d!important;
    input{
        font-weight: 300;
    }
}

.css-1pahdxg-control{
    min-height: 50px!important;
    border-radius: 0px!important;
    border-color: inherit!important;
    box-shadow: none!important;
    &:hover{
        border-color: inherit!important;
    }

}