.button-theme{
    position: fixed;
    bottom:0px;
    right:0px;
    margin: 15px;
    z-index: 99;
    svg{
        width: 35px;
        height: 35px;
        color: white;
        padding: 5px;
        background-color: var(--color--background-button);
        border-radius: 100%;
        cursor: pointer;
        border: 2px solid rgb(255, 255, 255);
    }
}