.button-theme{
    position: fixed;
    bottom:0px;
    right:0px;
    margin: 15px;
    padding: 5px;
    background-color: #11101d;
  border-radius: 100%;
  cursor: pointer;
    svg{
        width: 40px;
        height: 40px;
        color: white;
        
    }
}