

.c-training{
    padding: 10px;
    .wrapper{
        height: auto;
        width: 100%;
        justify-content: center;
        

        .accordion{
            width: 100%;


            .item{
                background-color: #312c6b;
                margin-bottom: 5px;
                padding: 10px 20px;

                .title{
                    color: white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }

                .accordion-content{
                    display: grid;
                    max-height: 0;
                    overflow: hidden;
                    grid-template-columns: repeat(
                    auto-fit,
                    /* min-content editar --> */
                    minmax(100%
                        ,1fr
                        )
                    );
                    @include tablet{
                       grid-template-columns: repeat(
                           auto-fit,
                           
                           minmax(500px
                               ,1fr
                               )
                           );
                    }
               
                    gap:16px;
                    transition: all 0.7s cubic-bezier(0,1,0,1);
               
                    &.show{
                           height: auto;
                           max-height: 99999px;
                           transition: all 0.8s cubic-bezier(1,0,1,0);
                    }
               
                    .card-training{
                        color: white;
                        display: flex;
                        border-radius: 5px;
                        align-items: center;
                        text-align: center;

                        &-content{
                            display: flex;
                            flex-direction: column;
                            width: 80%;
                            &--title{
                                padding: 10px;
                                font-size: 20px;
                                font-weight: bold;
                            }
                            &--zone{
                                padding: 10px;
                            }
                            &--reps{
                                padding: 10px;
                            }
                            &--descanso{
                                padding: 10px;
                            }

                        }
                       
                    }
               
                }



            }
        }

    }

}