

.c-training{
    padding: 10px;
    .wrapper{
        height: auto;
        width: 100%;
        justify-content: center;
        

        .accordion{
            width: 100%;
            

            .item{
                background-color: #d1cdff7d;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap:wrap;
                border: 10px solid var(--color--primary);
                
                .title{
                    background-color: var(--color--primary);
                    color: var(--color--text);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding:0 20px;
                    cursor: pointer;
                    width: 100%;
                    
                }

                .accordion-content{
                    //display: grid;
                    max-height: 0;
                    overflow: hidden;
                    max-width: 70%;
                        
                    
                    // margin: 0 auto;
                    // grid-template-columns: repeat(
                    // auto-fit,
                    // /* min-content editar --> */
                    // minmax(100%
                    //     ,2fr
                    //     )
                    // );
                     @media (max-width: 1070px){
                         max-width: 90%;
                    //    grid-template-columns: repeat(
                    //        auto-fit,
                    //        minmax(330px
                    //             ,1fr
                    //             )
                    //         );
                           
                     }

                     @media (max-width: 860px){
                        max-width: 98%;
                   //    grid-template-columns: repeat(
                   //        auto-fit,
                   //        minmax(330px
                   //             ,1fr
                   //             )
                   //         );
                          
                    }

                    
                     @include tablet{
                    //     max-width: 60%;
                    //     grid-template-columns: repeat(
                    //         auto-fit,
                            
                    //         minmax(430px
                    //            ,1fr
                    //            )
                    //        );
                      }
               
                    // gap:16px;
                     transition: all 0.7s cubic-bezier(0,1,0,1);
               
                    &.show{
                        
                        
                           padding: 20px 0;
                           height: auto;
                           max-height: 99999px;
                           transition: all 0.8s cubic-bezier(1,0,1,0);
                    }
               
                    .card-training{
                        
                        .body-training{
                        color: white;
                        display: flex;
                        border-radius: 5px;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        height: 100%;
                        background-repeat: no-repeat!important;
                        background-size: cover!important;
                        background-position: center!important;
                        padding: 10px;

                        &.isBiserie{
                            border: 5px solid var(--toastify-color-info);
                        }
                        &--number,&--biserie{
                            display: flex;
                            height: 100%;
                            color: #11101d;
                            background-color: #ffffff;
                            justify-content: space-around;
                            align-items: center;
                            width: 25px;
                            > * {
                                font-size: 20px;
                                font-weight: 700;

                            }
                            
                        }
                        &--biserie{
                            >*{
                                width: 10px;
                                font-size: 15px;
                                word-wrap: break-word;
                            text-align:center;
                            }

                        }

                        &-content{
                            display: flex;
                            flex-direction: column;
                            width: 70%;
                            
                            &--title{
                                font-size: 20px;
                                font-weight: bold;
                                padding: 5px 0;
                                
                            }
                            &--zone ,&--reps,&--reps,&--series,&--descanso{
                                text-align: left;
                                padding: 10px 0px 10px 50px;
                            }
                        }
                        &-button{
                            display: flex;
                            flex-direction: column;
                            place-items: center;
                            margin: 0 auto;
                            
                            svg{
                            position: relative;
                            cursor: pointer;
                            height: 40px;
                            width: 40px;
                            //transition: all 0.7s cubic-bezier(0,1,0,1);
                            &:hover{
                                //height: 50px;
                                //width: 50px;
                                border-radius: 100%;
                                background-color: #b9b9c0a4;
                            }

                            }
                            
                        }

                        &-info{
                            display: flex;

                            
                            
                            svg{
                            position: relative;
                            top: -83px;
                            right: 12px;
                            height: 30px;
                            width: 30px;
                            cursor: pointer;

                            }
                        }
                    }
                    }
               
                }



            }
        }

    }

}