

.c-training{
    padding: 10px;
    .wrapper{
        height: auto;
        width: 100%;
        justify-content: center;
        

        .accordion{
            width: 100%;


            .item{
                background-color: $color--primary;
                margin-bottom: 5px;
                padding: 10px 20px;

                .title{
                    color: $color--text;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                }

                .accordion-content{
                    display: grid;
                    max-height: 0;
                    overflow: hidden;
                    max-width: 100%;
                    max-width: 70%;
                    margin: 0 auto;
                    grid-template-columns: repeat(
                    auto-fit,
                    /* min-content editar --> */
                    minmax(100%
                        ,2fr
                        )
                    );
                    @media (max-width: 730px){
                        max-width: 100%;
                       grid-template-columns: repeat(
                           auto-fit,
                           minmax(330px
                                ,1fr
                                )
                            );
                           
                    }

                    
                    @include tablet{
                        max-width: 60%;
                        grid-template-columns: repeat(
                            auto-fit,
                            
                            minmax(430px
                               ,1fr
                               )
                           );
                     }
               
                    gap:16px;
                    transition: all 0.7s cubic-bezier(0,1,0,1);
               
                    &.show{
                           height: auto;
                           max-height: 99999px;
                           transition: all 0.8s cubic-bezier(1,0,1,0);
                    }
               
                    .card-training{
                        color: white;
                        display: flex;
                        border-radius: 5px;
                        align-items: center;
                        text-align: center;

                        &.isBiserie{
                            border: 5px solid var(--toastify-color-info);
                        }
                        &--number,&--biserie{
                            display: flex;
                            height: 100%;
                            color: #11101d;
                            background-color: #adadad;
                            justify-content: space-around;
                            align-items: center;
                            width: 25px;
                            > * {
                                font-size: 20px;
                                font-weight: 700;

                            }
                            
                        }
                        &--biserie{
                            >*{
                                width: 10px;
                                font-size: 15px;
                                word-wrap: break-word;
                            text-align:center;
                            }

                        }

                        &-content{
                            display: flex;
                            flex-direction: column;
                            width: 70%;
                            &--title{
                                font-size: 20px;
                                font-weight: bold;
                                padding: 10px 0;
                                
                            }
                            &--zone ,&--reps,&--reps,&--series,&--descanso{
                                text-align: left;
                                padding: 10px 0px 10px 50px;
                            }
                        }
                        &-button{
                            display: flex;
                            flex-direction: column;
                            place-items: center;
                            margin: 0 auto;
                            
                            svg{
                            position: relative;
                            cursor: pointer;
                            height: 40px;
                            width: 40px;
                            transition: all 0.7s cubic-bezier(0,1,0,1);
                            &:hover{
                                height: 50px;
                                width: 50px;
                            }

                            }
                            
                        }

                        &-info{
                            display: flex;

                            
                            
                            svg{
                            position: relative;
                            top: -83px;
                            right: 12px;
                            height: 30px;
                            width: 30px;
                            cursor: pointer;

                            }
                        }
                       
                    }
               
                }



            }
        }

    }

}