.c-login{
    
        z-index: -1;
        display: flex;
        flex-direction:column; 
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        max-height: 100%;
        background-color: black;
        background: url(../../../assets/img/bg_app.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 20%;
        background-size: cover;
        filter: brightness(0.9);
    
    &__content{
        display: flex;
        flex-direction:column-reverse;
        flex: wrap;
        -webkit-box-shadow: 0px 0px 15px 14px rgba(0,0,0,0.31); 
        box-shadow: 0px 0px 15px 14px rgba(0,0,0,0.31);
        margin: 20px 0;

        @include phone {   
            flex-direction:column-reverse; 
         }
         @include tablet {    
            flex-direction:row; 
         }


         .f-description{
            background:linear-gradient(180deg, rgba(0, 0, 0, 0.697) 0%, green 450%), url(../../../assets/img/img-form-low.png);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 20%;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 300px;

             @include phone {    
                height: 400px;
                
             }
             @include desktop {    
                width: 600px;
             }
             
             &__logo{
                 
                 z-index:2;
                 img{
                     height:150px;
                     width:150px;
                     filter: drop-shadow(0 7px 5px white);
                 }
                
             }
             &__redes{
                 img{
                     margin:5px 15px;
                     height:30px;
                     width:30px;
                     -webkit-transform: rotate(15deg) scale(1.4);
                        transform: rotate(0deg) scale(1.4);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;

                        &:hover{
                            -webkit-transform: rotate(4) scale(4);
	transform: rotate(0) scale(2);
                        }
                 }
             }
         }

        .f-login{
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: space-between;
            width:350px;
            justify-content: center;
            align-items: center;
    
            &__header{
                font-family: junglelaw;
                height: 20%;
                width:100%;
                text-align:center;
                font-size:30px;
                background-color: black;
                color: white;
                
                
            }
    
            &__body{
            height: 65%;
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width:100%;
            background-color: white;
                > div{
                    font-size: 15px;
                    padding: 5px 0;
                    display:flex;
                    flex-direction: column;
                }
                .input-wrapper{
                    position:relative;
    
    
                    .login-input{
                        padding: 15px 15px 15px 35px;
                        margin: 5px auto;
                        font-size: 15px;
                        border-width: 2px;
                        border-color: #a9a8a8;
                        background-color: #abefab;
                        color: #000000;
                        border-style: solid;
                        border-radius: 7px;
                        box-shadow: -1px 0px 10px rgba(66,66,66,.52);
                        text-shadow: -50px 0px 0px rgba(66,66,66,.0);
                    }
    
                    #icon{
                        color: #191919;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        left: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                
                
            }
    
            &__footer{
                text-align: center;
                height: 15%;
                width: 100%;
    
                .input-button__login{
                    
                   
                    background-color:#77b55a;
                    outline:none;
                    border: 0;
                    cursor:pointer;
                    color:#ffffff;
                    font-family:Arial;
                    font-size:20px;
                    font-weight:bold;
                    padding:11px 71px;
                    text-decoration:none;
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box!important;
    
                    &:active{
                        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.68); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.68);
                    }
                }
    
            }
        }

    }

    &__title{
        
        padding: 30px 0;
        
        color: white;
        font-family: junglelaw;
        text-align:center;
        text-shadow: $color--shadow-text 5px 0px 0px, $color--shadow-text 4.90033px 0.993347px 0px, $color--shadow-text 4.60531px 1.94709px 0px, $color--shadow-text 4.12668px 2.82321px 0px, $color--shadow-text 3.48353px 3.58678px 0px, $color--shadow-text 2.70151px 4.20736px 0px, $color--shadow-text 1.81179px 4.6602px 0px, $color--shadow-text 0.849836px 4.92725px 0px, $color--shadow-text -0.145998px 4.99787px 0px, $color--shadow-text -1.13601px 4.86924px 0px, $color--shadow-text -2.08073px 4.54649px 0px, $color--shadow-text -2.94251px 4.04248px 0px, $color--shadow-text -3.68697px 3.37732px 0px, $color--shadow-text -4.28444px 2.57751px 0px, $color--shadow-text -4.71111px 1.67494px 0px, $color--shadow-text -4.94996px 0.7056px 0px, $color--shadow-text -4.99147px -0.291871px 0px, $color--shadow-text -4.83399px -1.27771px 0px, $color--shadow-text -4.48379px -2.2126px 0px, $color--shadow-text -3.95484px -3.05929px 0px, $color--shadow-text -3.26822px -3.78401px 0px, $color--shadow-text -2.4513px -4.35788px 0px, $color--shadow-text -1.53666px -4.75801px 0px, $color--shadow-text -0.560763px -4.96845px 0px, $color--shadow-text 0.437495px -4.98082px 0px, $color--shadow-text 1.41831px -4.79462px 0px, $color--shadow-text 2.34258px -4.41727px 0px, $color--shadow-text 3.17346px -3.86382px 0px, $color--shadow-text 3.87783px -3.15633px 0px, $color--shadow-text 4.4276px -2.32301px 0px, $color--shadow-text 4.80085px -1.39708px 0px, $color--shadow-text 4.98271px -0.415447px 0px;
        font-size: 30px; 

        @include phone {    
            font-size: 30px; 
         }
         @include tablet {    
            top:90px;
            font-size: 40px; 
         }
        
        
    }
       
    
}

